<h1>London Boroughs</h1>

<h2>All Boroughs</h2>

<p><%= link_to "Add borough", new_borough_path %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Designation</th>
      <th>Population</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boroughs.each do |borough| %>
      <tr>
        <td><%= borough.name %></td>
        <td><%= borough.designation %></td>
        <td><%= borough.population %></td>
        <td><%= borough.website %></td>
        <td><%= link_to "View", borough %></td>
        <td><%= link_to "Edit", edit_borough_path(borough) %></td>
        <td><%= link_to "Destroy", borough, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
